:root {
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --verypaleblue: hsl(225, 100%, 98%);
    --desaturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);

    --white:#FFFFFF;

}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    min-height: 100vh;
    background: var(--paleblue) 
                url(images/pattern-background-desktop.svg);
    background-size: auto 50%;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center; /*rückt bild in die mitte*/
}
.head {
    background-color: var(--white); /*hintergrund farbe*/
    width: 400px; /*größe */
    border-radius: 11px; /*abgerundete kanten*/
    
}
.picture img {
    width: 100%;    
    border-radius: 11px 11px 0 0; /*abgerundete ecken vom bild oben links und rechts*/
}
.container {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container h1 {
    color: var(--darkblue);

}
.container p {
    color: var(--desaturatedblue);
    font: 500;
}
.price {
    display: flex;
    align-items: center;
    background-color: var(--verypaleblue);
    border-radius: 1rem;
    justify-content: space-between;
    padding: 1rem;
    gap: 2px;
}

.details h2 {
    flex-direction: column;
    color: var(--darkblue);
}
.details p {
    color: var(--desaturatedblue); /*betrag farbe*/
    margin: 12px; /*Abstand Betrag zu Change*/
}
/*Change*/
a {
    text-decoration: underline;
    color: var(--brightblue);  /*Farbe von Change*/
    font-weight: 700; /*dicke von Change*/
    cursor: pointer;
}
.a:hover {
    text-decoration: none;
    opacity: 70%;
}

button {
    background-color: var(--brightblue);
    color: var(--white);
    
}
.btn-card {
    display: flex;
    flex-direction: column;
}
.btn-card button {
    padding: 0.7rem; /*größe Payment Button*/    
    border: none;
    cursor: pointer;
}
.btn-pay {
    background-color: var(--brightblue);
    color: var(--white);
    border-radius: 10px;
}
.btn-pay:hover {
    opacity: 75%;
}
.btn-cancel button {
    color: var(--paleblue);
    font-weight: 700;
    background-color: var(--white);
    border: none; /*kein Rahmen*/
    cursor: pointer;
}
.btn-cancel button:hover {
    color: var(--darkblue);
}

.attribution { 
    padding: 10px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 500px) {
    body {
      background-image: url("./images/pattern-background-mobile.svg");
    }
    .head {
      width: 360px;
    }
  }